<!-- <input #box (keyup.enter)="onKey1(box.value)" (blur)="onKey1(box.value)"> -->
<!-- <form [formGroup]="checkoutForm" (ngSubmit)="ngOnInit()"> -->
  <!-- <label for="name">Name: </label> -->
  <!-- <input id="name" type="text" formControlName="name"> -->
  <!-- <button class="button" type="submit">Submit</button> -->
<!-- </form> -->

<input type="date" #box (keyup)="onKey2(box.value)">
<!-- <input type="date" [(ngModel)]="dt_from_string" /> -->

<button class="button" (click)="refresh()">Refresh</button>
<table class="custom-table">
  <thead>
    <tr>
      <th colspan="3">SMART188</th>
      <th colspan="3">SMART189</th>
    </tr>
    <tr>
      <th>bucket_start_timestamp</th>
      <th>co</th>
      <th>extT</th>
      <th>bucket_start_timestamp</th>
      <th>co</th>
      <th>extT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of csvData">
      <td>{{ row.bucket_start_timestamp }}</td>
      <td>{{ row.co }}</td>
      <td>{{ row.extT }}</td>
    </tr>
  </tbody>
</table>
