<input type="text" [(ngModel)]="dt1_from_string" placeholder="YYYY-MM-DD (Start Date)" id="first">
<input type="text" [(ngModel)]="dt1_to_string" placeholder="YYYY-MM-DD (End Date)" id="first">

<input type="text" [(ngModel)]="dt2_from_string" placeholder="YYYY-MM-DD (Start Date)" id="second">
<input type="text" [(ngModel)]="dt2_to_string" placeholder="YYYY-MM-DD (End Date)" id="second">

<button class="button" (click)="fetchData()">Refresh</button>
<table class="custom-table">
  <thead>
    <tr>
      <th colspan="3">SMART188</th>
      <th colspan="3">SMART189</th>
    </tr>
    <tr>
      <th>bucket_start_timestamp</th>
      <th>co</th>
      <th>extT</th>
      <th>bucket_start_timestamp</th>
      <th>co</th>
      <th>extT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item1 of csvData1; let i = index">
      <td>{{ item1.bucket_start_timestamp }}</td>
      <td>{{ item1.co }}</td>
      <td>{{ item1.extT }}</td>
      <td>{{ csvData2[i].bucket_start_timestamp }}</td>
      <td>{{ csvData2[i].co }}</td>
      <td>{{ csvData2[i].extT }}</td>
    </tr>
  </tbody>
</table>
