<nav class="nav-bar">
  <ul class="nav-bar__menu">
    <li class="nav-bar__menu-item"><a routerLink="/table" routerLinkActive="active" ariaCurrentWhenActive="page">Valeurs actuelle des capteurs</a></li>
    <li class="nav-bar__menu-item"><a routerLink="/historical" routerLinkActive="active" ariaCurrentWhenActive="page">Heurs moyens</a></li>
    <li class="nav-bar__menu-item"><a routerLink="/getRange" routerLinkActive="active" ariaCurrentWhenActive="page">Get Range</a></li>
    <li class="nav-bar__menu-item"><a routerLink="/getSessionInfo" routerLinkActive="active" ariaCurrentWhenActive="page">Project Info</a></li>
    <li class="nav-bar__menu-item"><a routerLink="/getSingleDay" routerLinkActive="active" ariaCurrentWhenActive="page">Single Day</a></li>
    <li class="nav-bar__menu-item"><a routerLink="/stationStatus" routerLinkActive="active" ariaCurrentWhenActive="page">Station Status</a></li>
    <li class="nav-bar__menu-item"><a routerLink="/stations" routerLinkActive="active" ariaCurrentWhenActive="page">Stations</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>