<table class="custom-table">
  <thead>
    <tr>
      <th colspan="16">SMART188</th>
      <th colspan="16">SMART189</th>
    </tr>
    <tr>
      <th>AUX1</th>
      <th>AUX1_INPUT</th>
      <th>AUX2</th>
      <th>AUX2_INPUT</th>
      <th>AUX3</th>
      <th>co</th>
      <th>extT</th>
      <th>intT</th>
      <th>lat</th>
      <th>lon</th>
      <th>no2</th>
      <th>o3</th>
      <th>pm10</th>
      <th>pm25</th>
      <th>rh</th>
      <th>Time</th>
      <th>AUX1</th>
      <th>AUX1_INPUT</th>
      <th>AUX2</th>
      <th>AUX2_INPUT</th>
      <th>AUX3</th>
      <th>co</th>
      <th>extT</th>
      <th>intT</th>
      <th>lat</th>
      <th>lon</th>
      <th>no2</th>
      <th>o3</th>
      <th>pm10</th>
      <th>pm25</th>
      <th>rh</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of csvData">
      <td>{{ row.bucket_start_timestamp }}</td>
      <td>{{ row.co }}</td>
      <td>{{ row.extT }}</td>
    </tr>
  </tbody>
</table>
