<table class="custom-table">
  <thead>
    <tr>
      <th colspan="14">SMART188</th>
      <th colspan="14">SMART189</th>
    </tr>
    <tr>
      <th>AUX1</th>
      <th>AUX2</th>
      <th>AUX3</th>
      <th>Co</th>
      <th>extT</th>
      <th>intT</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>No2</th>
      <th>O3</th>
      <th>PM10</th>
      <th>PM2.5</th>
      <th>RH</th>
      <th>Times</th>
      <th>AUX1</th>
      <th>AUX2</th>
      <th>AUX3</th>
      <th>Co</th>
      <th>extT</th>
      <th>intT</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>No2</th>
      <th>O3</th>
      <th>PM10</th>
      <th>PM2.5</th>
      <th>RH</th>
      <th>Times</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of RangeData.raw_data">
      <td>{{ row.AUX1 }}</td>
      <td>{{ row.AUX2 }}</td>
      <td>{{ row.AUX3 }}</td>
      <td>{{ row.CO }}</td>
      <td>{{ row.extT }}</td>
      <td>{{ row.intT }}</td>
      <td>{{ row.lat }}</td>
      <td>{{ row.lon }}</td>
      <td>{{ row.NO2 }}</td>
      <td>{{ row.O3 }}</td>
      <td>{{ row.PM10 }}</td>
      <td>{{ row.PM25 }}</td>
      <td>{{ row.RH }}</td>
      <td>{{ row.utc_timestamp }}</td>
    </tr>
  </tbody>
</table>
