<table class="custom-table">
  <thead>
    <tr>
      <th>Sensors</th>
      <th>SMART188</th>
      <th>SMART189</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>extT</td>
      <td>0°C</td>
      <td>0°C</td>
    </tr>
    <tr>
      <td>rh</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr>
        <td>o3</td>
        <td>0µg/m³</td>
        <td>0µg/m³</td>
      </tr>
      <tr>
        <td>no2</td>
        <td>0µg/m³</td>
        <td>0µg/m³</td>
      </tr>
      <tr>
        <td>pm25</td>
        <td>0µg/m³</td>
        <td>0µg/m³</td>
      </tr>
      <tr>
        <td>pm10</td>
        <td>0µg/m³</td>
        <td>0µg/m³</td>
      </tr>
  </tbody>
</table>
